body {
    background: #3E5151; 
    background: -webkit-linear-gradient(to bottom, #DECBA4, #3E5151);
    background: linear-gradient(to bottom, #DECBA4, #3E5151);
    box-sizing: border-box;
}

h3 {
    text-align: center;
    color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.651);
    background-color: #3e5151;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 100vh;
    margin: 2rem auto;
    padding: 1rem;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.products, .basket {
    width: 40%;
    justify-self: stretch;
}

.basket {

}

.item {
    position: relative;
    list-style: none;
    background: #DECBA4;
    margin: 1rem auto;
    padding: 1rem .5rem;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.651);
}

.item span {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    text-align: right;
    color: #DECBA4;
    padding: 1rem .5rem;
    display: inline-block;
    background-color: #3E5151;
}

.item:hover {
 background: #f25;
 color: #fff;
 cursor: pointer;
 transition: all 0.25s;
}
