body {
    background: rgba(5, 68, 8, 0.562);
}

h3 {
    text-align: center;
    color: #fff;
    padding-bottom: 1rem;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 60vh;
    margin: 2rem auto;
    padding: 1rem;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.products, .basket {
    width: 40%;
    justify-self: stretch;
}

.basket {

}

.item {
    list-style: none;
    background: #eee;
    margin: 1rem auto;
    padding: 1rem 0;
    text-align: center;
    border-radius: 2px;
}

.item:hover {
 background: #f25;
 color: #fff;
 cursor: pointer;
 transition: all 0.25s;
}